<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: site-header"></header>

<div class="container">
<table class="table table-dark table-hover">
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
    </tr>
    <tr th:each=" meal : ${myMeals}">
        <td th:text="${meal.name}"></td>
        <td th:text="${meal.description}"></td>
        <td><ul th:each="ingredient : ${meal.ingredients}">
            <li th:text="${ingredient.name}"></li>
        </ul>
        </td>

    </tr>
</table>
</div>

</body>
</html>